/* Modus Versus Slicing
 *
 * /sass/objects/_service.scss - Non-cosmetic styles for service
 *
 * coded by Chris
 * started at 16/02/2016
 */

 .services{
 	display: block;
 	width: 117rem;
	margin: 0 auto;
 }