/* Modus Versus Slicing
 *
 * /sass/objects/_service.focus.scss - Non-cosmetic styles for service.focus
 *
 * coded by Chris
 * started at 16/02/2016
 */
.focus__h2{
		margin:  0 auto 1rem;
	}
	.callout{
		display:block;
		position: absolute;
		right: 3rem;
		top: 2.4rem;
	}
}