/* Modus Versus Slicing
 *
 * /sass/objects/_services.scss - Non-cosmetic styles for header
 *
 * coded by Chris J.
 * started at 23/02/2016
 */
 .services{
	display: block;
	width: $containerWidth;
	margin: 0 auto;
 }
