/* Modus Versus Slicing
 *
 * /sass/objects/_slide.scss - Non-cosmetic styles for header
 *
 * coded by leny@flatLand!
 * started at 01/03/2016
 */
 .slide{
	&__place{
		position: relative;
		left: 55rem;
		top: 19rem;
	}
 }