/* Modus Versus Slicing
 *
 * /sass/objects/_clients.nav.scss - Non-cosmetic styles for nav clients
 *
 * coded by Chris J.
 * started at 29/02/2016
 */	
.nav{
	float: right;
    margin-right: 12rem;
    margin-top: -5rem;
}