/* Modus Versus Slicing
 *
 * /sass/objects/_col-left.scss - Non-cosmetic styles for why
 *
 * coded by Chris J.
 * started at 27/02/2016
 */

 .col-left{
	float: left;
	width: 25%;
	margin-left: 9rem;
 }