/* Modus Versus Slicing
 *
 * /sass/components/_socials.scss - Design styles for socials
 *
 * coded by Chris J.
 * started at 23/02/2016
 */
 .socials{

    &__elt{
        margin-right: 2.5rem;
    }
 	&__facebook{
        font-size: $hidden;
 		&::before{
 			color: white;
    		content: "";
    		font: 3rem $glyphs;
    		vertical-align: middle;
 		}
 	}
 	&__twitter{
        font-size: $hidden;
 		&::before{
 			color: white;
    		content:  "";
    		font: 3rem $glyphs;
    		vertical-align: middle;
 		}
 	}
 	&__google-plus{
        font-size: $hidden;
 		&::before{
			color: white;
    		content: "";
    		font: 3rem $glyphs;
    		vertical-align: middle;
 		}
 	}
 	&__rss-feed{
        font-size: $hidden;
 		&::before{
			color: white;
    		content: "";
    		font: 3rem $glyphs;
    		vertical-align: middle;
 		}
 	}
 }