/* Modus Versus Slicing
 *
 * /sass/component/_col1.scss -  Design styles for col4
 *
 * coded by Chris J.
 * started at 01/03/2016
 */
.col3{

	&__heading{
	color: rgb(75, 124, 120);
    font-size: 2rem;
    font-weight: bold;
    text-indent: -2rem;
	}
	&__elt{
			&::before{
			 content: " ";
   			 font: 1rem/1 "Glyphs";
		}
	}
}