/* Modus Versus Slicing
 *
 * /sass/trumps/_fake-button.scss - Design styles for service
 *
 * coded by Chris J.
 * started at 23/02/2016
 */
 .fake-button{
 	background: #62a29a;
	border-radius: 0.4rem;
	box-shadow: 0 0.3em 0 0 #528b86;
	font: 600  1.4rem/1 "OpenSans"; /*semibold*/
	color: #fff;
	text-decoration: none;
	text-align: center;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	     -o-transform: translateY(50%);
	        transform: translateY(50%);
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
	 &:hover{
	 	 background-color: #e8645a;
	 	 box-shadow: 0 0.3em 0 0 #e8645a;
	 }
 }