/* Modus Versus Slicing
 *
 * /sass/Component/_col-right.scss -  Design styles for logo
 *
 * coded by Chris J.
 * started at 27/02/2016
 */

   .col-right{
   		padding-bottom: 2rem;
 		&__heading{
 		font-size: 1.8rem;
    	font-weight: bold;
 	}
 }