/* Modus Versus Slicing
 *
 * /sass/Component/_clients.scss -  Design styles for clients
 *
 * coded by Chris J.
 * started at 28/02/2016
 */


.clients{
 	&__heading{
 	font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3rem;
 	}
 	&__previous{
 		&::before{
 			font-size: 2rem;
 			content: " ";
 			color: gray;
 		}
 	}
 	&__next{

 		&::before{
 			font-size: 2rem;
 			content: " ";
 			color: gray;
 		}
 	}
  }